html,
body {
  margin: 0;
  padding: 0 4px;
  font-family: "Rubik", sans-serif;
  background-color: #faf1f0;
  user-select: none; /*deny the user to select any elements*/
}
#add-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
#list-section {
  background-color: #fffffc;
  border-radius: 8px;
  margin-bottom: 20px;
  padding-inline: 12px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
#completed-list-section {
  background-color: #fffffc;
  border-radius: 8px;
  padding-inline: 12px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
#input-field {
  color: #f08080;
  background-color: #d3dae7;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  border-style: none;
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
}
button {
  color: #fdfdfd;
  background-color: #ff9770;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
button:hover {
  background-color: #debda1;
  cursor: pointer;
}
img {
  width: 100px;
  margin: 0 auto;
}
#container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 50px auto;
}
ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}
li {
  font-size: 20px;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  color: rgb(94, 93, 93);
  list-style: none;
  width: 70%;
}
#li-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffee93;
  padding-block: 8px;
  padding-inline: 10px;
  border-radius: 6px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
#li-div-completed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a9def9;
  padding-block: 8px;
  padding-inline: 10px;
  border-radius: 6px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
/* #completed-item-li {
  background-color: #a9def9;
} */
#deleteItemBtn {
  background: url("/assets/delete.png");
  background-size: cover;
  box-shadow: none;
  border-radius: 0px;
}
#deleteItemBtn:hover {
  /* background-color: #debda1; */
  cursor: pointer;
}
#container-check-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

#no-item-msg {
  color: rgb(94, 93, 93);
  align-self: center;
}
