html,
body {
  margin: 0;
  padding: 0 4px;
  font-family: "Rubik", sans-serif;
  background-color: #faf1f0;
  user-select: none;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  width: 100px;
  margin-inline: auto;
  margin-top: 30px;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 30px;
}
/* USER INPUTS */
#add-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 20px;
  width: 90%;
}
.input-field {
  color: rgb(94, 93, 93);
  background-color: #fdfdfd;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  border: 3px solid #ff9770;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  /* width: 80%; */
  top: 20px;
}

#button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 20px;
  width: 320px;
}
#add-button {
  color: #fdfdfd;
  background-color: #ff9770;
  padding-block: 8px;
  text-align: center;
  border-radius: 8px;
  border-style: none;
  font-size: 22px;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  bottom: 4%;
  width: 90%;
}
#add-button:hover {
  background-color: #fa7849;
}
/* ITEM LISTS */
#list-section {
  background-color: #fffffc;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-top: 40px;
  padding-inline: 12px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
}
#completed-list-section {
  background-color: #fffffc;
  border-radius: 8px;
  padding-inline: 12px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
}
ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}
li {
  font-size: 20px;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  color: rgb(94, 93, 93);
  list-style: none;
  width: 70%;
}
#li-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffee93;
  padding-block: 8px;
  padding-inline: 10px;
  border-radius: 6px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  margin-block: 2px;
}
#li-div-completed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cdeac0;
  padding-block: 8px;
  padding-inline: 10px;
  border-radius: 6px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
#list-section {
  max-width: 90%;
}
#completed-list-section {
  margin-bottom: 80px;
  max-width: 90%;
}
#deleteItemBtn {
  background: url("/assets/delete.png");
  background-size: cover;
  width: 25px;
  height: 25px;
  box-shadow: none;
  border-radius: 0px;
  border-style: none;
}
#deleteItemBtn:hover {
  cursor: pointer;
}
/* CHECKBOX */
#check-box-el {
  appearance: none;
  background-color: white;
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 6px;
}

#check-box-el:checked {
  background-color: #ff9770;
}
#no-item-msg {
  color: rgb(94, 93, 93);
  align-self: center;
}

/* MODAL */
.open-modal-btn-container {
  width: 50px;
  height: 50px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20%;
  display: flex;
  position: fixed;
  bottom: 30px;
  right: 20px;
}
.open-modal-btn {
  width: 80%;
  height: 80%;
  margin: auto;
  border-style: none;
  border-radius: 20%;
  background-color: #ff9770;
  font-weight: 500;
  font-size: larger;
  color: whitesmoke;
}
.modal {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 95%;
  min-height: 250px;
  width: 310px;
  border-radius: 4px;
  background-color: #ffef9f;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  color: rgb(94, 93, 93);
  font-size: 20px;
  font-weight: bold;
  display: none;
  flex-direction: column;
  text-align: center;
}
.form {
  height: 100%;
  position: relative;
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.btn-container {
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
/* .modal-btn {
  text-align: center;
} */
.btn {
  padding: 10px 20px;
  border-radius: 6px;
  border-style: none;
  /* margin-top: 20px; */
  /* margin-inline: 20px; */
  font-size: 20px;
  font-weight: bold;
  background-color: #ff9770;
  color: #fdfdfd;
  width: 100px;
}
.add {
  background-color: #d2d2cf;
}
.name {
  width: 80%;
  margin-bottom: 10px;
  border: 3px solid #ff9770;
}
.num {
  width: 20%;
  /* border-style: none; */
}
