html,
body {
  margin: 0;
  padding: 0 4px;
  font-family: "Rubik", sans-serif;
  background-color: #faf1f0;
  user-select: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  width: 100px;
  margin-inline: auto;
  margin-top: 30px;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 30px;
}
#add-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 30px;
  width: 90%;
}
#list-section {
  background-color: #fffffc;
  border-radius: 8px;
  margin-bottom: 20px;
  padding-inline: 12px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
}
#completed-list-section {
  background-color: #fffffc;
  border-radius: 8px;
  padding-inline: 12px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
}
#input-field {
  color: rgb(94, 93, 93);
  background-color: #fdfdfd;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  border: 3px solid #ff9770;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  width: 100%;
}

#button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#add-button {
  color: #fdfdfd;
  background-color: #ff9770;
  padding-block: 8px;
  text-align: center;
  border-radius: 8px;
  border-style: none;
  font-size: 22px;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 4%;
  min-width: 90%;
}
#add-button:hover {
  background-color: #fa7849;
}

ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}
li {
  font-size: 20px;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  color: rgb(94, 93, 93);
  list-style: none;
  width: 70%;
}
#li-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffee93;
  padding-block: 8px;
  padding-inline: 10px;
  border-radius: 6px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  margin-block: 2px;
}
#li-div-completed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cdeac0;
  padding-block: 8px;
  padding-inline: 10px;
  border-radius: 6px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
#list-section {
  max-width: 90%;
}
#completed-list-section {
  margin-bottom: 80px;
  max-width: 90%;
}
#deleteItemBtn {
  background: url("/assets/delete.png");
  background-size: cover;
  width: 25px;
  height: 25px;
  box-shadow: none;
  border-radius: 0px;
  border-style: none;
}
#deleteItemBtn:hover {
  cursor: pointer;
}

#check-box-el {
  appearance: none;
  background-color: white;
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 6px;
}

#check-box-el:checked {
  background-color: #ff9770;
}
#no-item-msg {
  color: rgb(94, 93, 93);
  align-self: center;
}

/* slick-slide */

/* .slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide {
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  margin: 5px 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
h2 {
  font-size: 40px;
} */
